{% extends 'account/main.html' %}

{% block content %}
<br>
{% if pesan %}
<div class="alert alert-success">{{pesan}}</div>
{% endif %}
<div class="container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
          <h3>Convert User Persona To User Story</h3>
          <p class="blue-text">Just answer a few questions<br> So that we can generate your persona to story</p>
          <div class="card">
              <h5 class="text-center mb-4">Input User Persona</h5>
              <form action="/" method="post">
                {% csrf_token %}
                {% load widget_tweaks %}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                  {% endfor %}

                  {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                      {% for error in form.non_field_errors %}
                        {{ error }}
                      {% endfor %}
                    </div>
                  {% endif %}

                  {% for field in form.visible_fields %}
                    <div class="form-group">
                      {{ field.label_tag }}

                      {% if form.is_bound %}
                        {% if field.errors %}
                          {% render_field field class="form-control is-invalid" %}
                          {% for error in field.errors %}
                            <div class="invalid-feedback">
                              {{ error }}
                            </div>
                          {% endfor %}
                        {% else %}
                          {% render_field field class="form-control is-valid" %}
                        {% endif %}
                      {% else %}
                        {% render_field field class="form-control" %}
                      {% endif %}

                      {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                      {% endif %}
                    </div>
                  {% endfor %}
                <button type="submit" class="btn btn-primary">Preview</button>
              </form>
          </div>
      </div>
  </div>

<br>
{% endblock %}